table.chart {
    background-color: black;
    /* border: 5px solid black; */
}

td.chart-header-td {
    background-color: #54a4a7;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    /* border: 5px solid black; */
}

td.chart-td {
    /* border: 1px solid rgb(0, 204, 255); */
    background-color: white;
    padding: 10px;
}

/* table.stats {
    background-color: black;
} */

td.stats-td {
    /* border: 1px solid rgb(0, 204, 255); */
    /* background-color: white; */
    padding: 10px;
}